<div class="p-fluid">
    <h2 class="text-center text-3xl">Soy Nuevo</h2>
    <div class="field">
        <label>Nombre</label>
        <input pInputText type="text" />
    </div>
    <div class="field">
        <label>Correo</label>
        <input pInputText type="text" />
    </div>
    <div class="field">
        <label>Contraseña</label>
        <input pInputText type="password" />
    </div>
    <div class="field">
        <label>Confirmar Contraseña</label>
        <input pInputText type="password" />
    </div>
    <p-button
        label="Crear Cuenta"
        class="mt-2"
        (onClick)="successRegsiter.emit()"
    ></p-button>
</div>
