<div class="p-fluid">
    <h2 class="text-3xl">Información Personal</h2>
    <div class="field">
        <label>Nombre</label>
        <input pInputText type="text" />
    </div>
    <div class="field">
        <label>Correo</label>
        <input pInputText type="text" />
    </div>
    <div class="field">
        <label>Número de Teléfono</label>
        <input pInputText type="tel" />
    </div>
    <div class="field flex">
        <div>
            <p-button label="Guardar Cambios" class="mt-2"></p-button>
        </div>
    </div>
</div>
