<div>
    <h2 class="text-center">Mis Compras</h2>
</div>
<div>
    <p-table [value]="purchases">
        <ng-template pTemplate="header">
            <tr>
                <th>Folio</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>Estatus</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>
                    {{ product.id }}
                </td>
                <td>
                    {{ product.date | date }}
                </td>
                <td>
                    {{ product.total | currency }}
                </td>
                <td>
                    <p-tag
                        [severity]="product.status"
                        [value]="product.status"
                    ></p-tag>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
