
<div class="_container profile-menu mt-6 lg:mt-8 ">
    <div class="grid card">
        <div class="profile-options">
            <div class="flex justify-content-center">
                <div class="avatar-container">
                    <img
                        class="w-100"
                        src="assets/ecommerce/products/product.jpg"
                        alt="avatar"
                    />
                </div>
            </div>
            <div class="flex justify-content-center mt-2 mb-4">
                <span class="text-xl font-bold">Hola, Estilo360</span>
            </div>

            <p-panelMenu [model]="menu"></p-panelMenu>
        </div>

        <p-divider class="vertical" layout="vertical"> </p-divider>
        <p-divider class="horizontal"  layout="horizontal"> </p-divider>

        <div class="profile-content">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>
