<div class="product-container _container">
    <div class="flex justify-content-center px-0 mx-0 product-gallery-price">
        <div class="product-gallery">
            <p-galleria
                class="col-12"
                [(value)]="images"
                [thumbnailsPosition]="thumbnailsPosition"
                [responsiveOptions]="responsiveOptions"
                [containerStyle]="{ 'max-width': '640px' }"
            >
                <ng-template pTemplate="item" let-item>
                    <img
                        [src]="item.imagenUrl"
                        style="width: 100%; display: block"
                        class="main-img"
                    />
                </ng-template>
                <ng-template pTemplate="thumbnail" let-item>
                    <div
                        class="grid grid-nogutter justify-content-center gallery"
                    >
                        <img
                            width="100px"
                            [src]="item.imagenUrl"
                            style="display: block"
                        />
                    </div>
                </ng-template>
            </p-galleria>
        </div>

        <div class="flex align-self-center p-2 lg:p-5 lg:m-5 product-info">
            <div>
                <h1 class="text-700 text-9xl">
                    {{ product?.nombre }}
                </h1>

                <!-- <p class="text-xl line-through">{{ 1255 | currency }}</p> -->

                <p class="text-3xl">
                    {{ product?.precio | currency }}
                </p>

                <p class="mb-1">Choose Size</p>
                <div class="mb-3">
                    <p-selectButton
                        class=""
                        [options]="sizeOpions"
                        optionLabel="label"
                        optionValue="value"
                    ></p-selectButton>
                </div>

                <div class="w-full mb-3">
                    <span class="p-buttonset">
                        <button
                            pButton
                            pRipple
                            class="p-button-outlined p-button-sm"
                            icon="pi pi-minus"
                        ></button>
                        <button
                            pButton
                            pRipple
                            class="p-button-sm"
                            disabled
                            label="1"
                        ></button>
                        <button
                            pButton
                            pRipple
                            class="p-button-outlined p-button-sm"
                            icon="pi pi-plus"
                        ></button>
                    </span>
                </div>

                <div class="flex column-gap-3 row-gap-3">
                    <div>
                        <button
                            pButton
                            pRipple
                            class="p-button add-to-cart-btn"
                            label="Agregar al Carrito"
                            icon="pi pi-cart-plus"
                        ></button>
                    </div>

                    <div>
                        <button
                            pButton
                            pRipple
                            type="button"
                            label="Comprar Ahora"
                            class="p-button-outlined p-button-secondary buy-now-btn"
                        ></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="py-4 px-2 lg:px-4 mt-5">
        <h3 class="pt-2">Descripción</h3>
        <p-divider></p-divider>
        <p class="text-xl">
            {{ product?.detalles }}
        </p>
    </div>

    <div
        *ngFor="let category of categories"
        class="py-4 lg:px-4 mt-2 _categories-container"
    >
        <app-category-container
            [category]="category"
            [size]="4"
        ></app-category-container>
    </div>
</div>
