
.product-gallery-price{
    @media(max-width:915px){
        flex-direction: column;
    }

    .product-carousel ::ng-deep .p-galleria{
        margin: 0 auto;



        @media(max-width:894){
            width: 50%;
        }
        @media(max-width:500px){
            width: 90%;
        }
        @media(max-width:388px){
            width: 78
        }
    }

    .product-info{
        @media(max-width:1120px){
            padding: 2rem 1rem !important;
        }

        .add-to-cart-btn{
            min-width: 176px;
        }
        .buy-now-btn{
            min-width: 139px;
        }

    }


}



.categories-container {
    margin: 0 auto;

    @media (min-width: 1200px) {
        width: 90%;
        max-width: 1200px;
    }

    @media (max-width: 1200px) {
        width: 80%;
        max-width: 1200px;
    }

    .grid {
        .card-container {
            @media (min-width: 450px) and (max-width: 767px) {
                width: 50% !important;
            }
        }
    }

    .category-name {
        margin-bottom: 0;
    }

    hr {
        border-color: black;
        border-width: 1.5px;
        border-style: solid;
        margin-top: 8px;
    }
}
