<div>
    <div class="surface-card">
        <div class="flex align-items-center justify-content-center">
            <img class="col-12" [src]="product.img" [alt]="product.title" />
        </div>
        <h5 class="mb-2 text-700">
            {{ product.title }}
        </h5>
        <span *ngIf="product.disscount"
            >{{ product.disscount | percent }} Off</span
        >
        <h5 class="text-800">
            {{ product.price | currency }}
        </h5>

        <button
            pButton
            pRipple
            label="Add To Cart"
            class="p-button-danger"
            icon="pi pi-cart-plus"
        ></button>
    </div>
</div>
